{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Nowa{% endblock %}

{% block body %}

    {{ form(invoice_form, {'attr': {'novalidate': 'novalidate'}}) }}


    <a href="{{ path('invoice__index_page') }}"  class="btn btn-success">Lista faktur</a><br>
{% endblock %}
