{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Edutuj{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Sprzedawca:</h5>
                    <h6 class="card-subtitle mb-2">{{ invoice.dealer.name }}</h6>
                    <p class="card-text">      {{ invoice.dealer.street }}, {{ invoice.dealer.houseNo }}, {{ invoice.dealer.city }}, {{ invoice.dealer.postal }}</p>

                </div>
            </div> 

        </div>  
        <div class="col-4">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Kupujący</h5>
                    <h6 class="card-subtitle mb-2">  {{ invoice.buyer.name }}</h6>
                    <p class="card-text">        {{ invoice.buyer.street }}, {{ invoice.buyer.houseNo }}, {{ invoice.buyer.city }}, {{ invoice.buyer.postal }}</p>

                </div>
            </div> 


        </div>  
        <div class="col-4">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Wartość faktury:</h5>
                    <h6 class="card-subtitle mb-2 display-4">  {{ invoice.sum }} zł</h6>


                </div>
            </div> 

        </div>  

    </div>

    <div class="row my-4">
        <div class="col">
            {% if invoice.subjects|length >0 %}

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nazwa</th>
                            <th scope="col">ilość</th>
                            <th scope="col">Cena</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for subject in invoice.subjects %}

                            <tr>
                                <th scope="row"> {{ loop.index }}</th>
                                <td> {{ subject.name }} </td>
                                <td>{{ subject.quantity }}</td>
                                <td> {{ subject.price }}zł</td>
                                <td>
                                    <a href="{{ path('invoice__subject_remove_page',{'id':subject.id}) }}" class="btn btn-danger">Usuń</a
                                </td>
                            </tr>

                        {% endfor %}


                    </tbody>
                </table>   


            {% else %}

                <div class="alert alert-secondary" role="alert">
                    Faktura nie zawiera żadnej pozycji.
                </div>

            {% endif %}

        </div>
    </div>

    <div class="row my-4">
        <div class="col">       
            {{ form(subject_form, {'attr': {'novalidate': 'novalidate'}}) }}



            <a href="{{ path('invoice__index_page') }}"  class="btn btn-success">Lista faktur</a>
            <a href="{{ path('invoice__add_page') }}" class="btn btn-success">Nowa faktura</a><br>
        </div>
    </div>
{% endblock %}
