{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Wszystkie{% endblock %}

{% block body %}
    {% if found_invoices|length >0 %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Przedawca</th>
                    <th scope="col">Kupujący</th>
                    <th scope="col">Wartość faktury</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>

                {% for invoice in found_invoices %}

                    <tr>
                        <th scope="row"> {{ loop.index }}</th>
                        <td>{{  invoice.dealer.name }}</td>
                        <td>{{  invoice.buyer.name}}</td>
                        <td> {{  invoice.sum }} zł</td>
                        <td> <a href="{{ path('invoice__edit_page',{'id':invoice.id}) }}" class="btn btn-primary">Edytuj</a></td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>


    {% else %}

        <div class="alert alert-secondary mt-4" role="alert">
            Brak faktur do wyswietlenia
        </div>

    {% endif %}

    <a href="{{ path('invoice__add_page') }}" class="btn btn-success">Nowa faktura</a><br>


{% endblock %}
