<!doctype html>
<html lang="pl">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta NAME="robots" CONTENT="noindex,nofollow">




        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>{% block title %}Faktura{% endblock %}</title>

    </head>
    <body {% block bodyid %}{% endblock %}>    


        <div class="container">
            {% block body %}{% endblock %} 
        </div>


        {% block javascripts %}{% endblock %}


    </body>
</html>